<!-- <div class="content">
    <H1>bienvenido</H1>
    <div class="registrar">
        <h2>Registrar</h2>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input formControlName="nombre" type="text" class="form-control" id="inputEmail4" placeholder="nombre">
                </div>
                <div class="form-group col-md-6">
                    <input formControlName="cedula" type="number" class="form-control" id="inputPassword4" placeholder="cedula">
                </div>
            </div>
            <div class="form-group">
                <input formControlName="telefono" type="number" class="form-control" id="inputAddress" placeholder="telefono">
            </div>
            <div class="form-group">
                <input formControlName="genero" type="text" class="form-control" id="inputAddress" placeholder="genero">
            </div>
            <div class="form-group">
                <input formControlName="cliente" type="text" class="form-control" id="inputAddress" placeholder="cliente">
            </div>
            <div class="form-group">
                <input formControlName="sede" type="text" class="form-control" id="inputAddress" placeholder="sede">
            </div>
            <div class="form-group">
                <input formControlName="fech_naci" type="text" class="form-control" id="inputAddress2" placeholder="Fechas de nacimiento">
            </div>
            <button type="submit" (click)="registrar()" class="btn btn-primary">registrar</button>
        </form>
    </div>
</div> -->